In [1]:
##Deliverable 3 - Social Simulation - Rock, paper, scissors, lizard, Spock
strategies=['Rock','Paper','Scissors','Lizard','Spock']

payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Scissors','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Lizard','Spock'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Scissors'):(0,1),
        ('Spock','Spock'):(0,0),
        ('Lizard','Lizard'):(0,0)}

In [2]:
Players=[{'name':'Tallis','score':0,'strategy':None},
         {'name':'Sam','score':0,'strategy':None}]

In [3]:
from random import choice

#simples: choose randomly

choice(strategies)

'Spock'

In [4]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [5]:
Players

[{'name': 'Tallis', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Sam', 'score': 0, 'strategy': 'Scissors'}]

In [6]:
Players[0]['strategy'],Players[1]['strategy']

('Lizard', 'Scissors')

In [7]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 1)

In [8]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [9]:
# current agent situation
Players

[{'name': 'Tallis', 'score': 0, 'strategy': 'Lizard'},
 {'name': 'Sam', 'score': 1, 'strategy': 'Scissors'}]

In [10]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

     name  score  strategy
0  Tallis      0    Lizard
1     Sam      1  Scissors

In [11]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

  name  score  strategy
1  Sam      1  Scissors

In [12]:
# names of players
names=['Tallis','Sam','Jose','Mark Ruffalo']

In [13]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

# each player a dict:
society

In [14]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Tallis', 'score': 0, 'strategy': None}, {'name': 'Sam', 'score': 0, 'strategy': None})
({'name': 'Tallis', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Tallis', 'score': 0, 'strategy': None}, {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None})
({'name': 'Sam', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Sam', 'score': 0, 'strategy': None}, {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None})
({'name': 'Jose', 'score': 0, 'strategy': None}, {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None})

In [15]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Tallis', 'score': 0, 'strategy': None} {'name': 'Sam', 'score': 0, 'strategy': None}
{'name': 'Tallis', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Tallis', 'score': 0, 'strategy': None} {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None}
{'name': 'Sam', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Sam', 'score': 0, 'strategy': None} {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None}
{'name': 'Jose', 'score': 0, 'strategy': None} {'name': 'Mark Ruffalo', 'score': 0, 'strategy': None}

In [16]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [17]:
# final situation
society

[{'name': 'Tallis', 'score': 111, 'strategy': 'Scissors'},
 {'name': 'Sam', 'score': 115, 'strategy': 'Paper'},
 {'name': 'Jose', 'score': 116, 'strategy': 'Spock'},
 {'name': 'Mark Ruffalo', 'score': 121, 'strategy': 'Scissors'}]

In [18]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

           name  score  strategy
0        Tallis    111  Scissors
1           Sam    115     Paper
2          Jose    116     Spock
3  Mark Ruffalo    121  Scissors

In [19]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

           name  score  strategy
3  Mark Ruffalo    121  Scissors